@import 'base.css';
@import 'layout.css';
@import 'recipient.css';
@import 'message.css';
@import 'image-lister.css';

.imageBig img {
  height: 726px;
  width: 1024px;
}

.imageSmall img {
  height: 242px;
  width: 341px;
}

.imageNone {
  display: none;
}

.full-width {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.slider-button {
  margin: 5px 0;
  text-align: center;
  width: 100%;
}
