@import 'layout.css';
@import 'recipient.css';
@import 'message.css';
@import 'image-lister.css';
@import 'postcard.css';

body {
  color: rgb(51, 51, 51);
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body>div {
  height: 100%;
}

