.imageBig img {
  width: 1024px;
  height: 726px;
}

.imageSmall img {
  width: 341px;
  height: 242px;
}

.imageNone {
  display: none;
}

.full-width {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.sent_image {
  width: 100%;
  margin-bottom: 15px;
}

.slider-button {
  width: 100%;
  text-align: center;
  margin: 5px 0px;
}

img-slider-container {
  position: relative;
}

.buttonbar {
  position: absolute;
  left: 25px;
  bottom: 25px;
  color: white;
  background-color: rgba(0,0,0, 0.5);
}

.buttonbar a {
  color: white;
}
