.buttonbar {
  background-color: #000;
  background-color: rgba(0,0,0, 0.5);
  bottom: 25px;
  color: white;
  left: 25px;
  position: absolute;
}

.buttonbar a {
  color: white;
}

.img-lister {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-lister .image {
  flex-grow: 1;
  flex-shrink: 1;
}

.image img {
  width: 100%;
}

.button {
  flex-grow: 0;
}

.slider-button {
  margin: 5px 0;
  text-align: center;
  width: 100%;
  height: 2em;
}
