.root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

/*-
 * This is the left part of the page
 */
.postcard {
  padding: 15px;
  flex-grow: 1;
  height: 100%;
}

.image_list {
  /*height: 100%;*/
  flex-basis: 400px;
  flex-grow: 0;
}

/*-
 * Ember makes a div around the component
 */
.image_list>div {
  height: 100%;
}
