/*-
 * The height of the elements in the recipient
 * part
 */
.recipient .element {
  height: 4em;
}

/*-
 * Post code doesn't need to be that wide
 */
.recipient .post_code {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 80px;
}

.recipient_form input, .recipient_form label {
  display: block;
}

.recipient_form label {
  font-size: 14px;
  margin-bottom: 5px;
}
