<div class="container full-width">
  <div class="row">
    <div class="col-lg-12">
      <h2 id="title">Send a postcard</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-9">
        {{post-card}}
      </div>
      <div class="col-lg-3">
        Right
      </div>
  </div>
</div>
