{
  "username"  : "dude.duderino@example.com",
  "password"  : "rug",
  "salutation": "Herr",
  "givenName" : "Jeff",
  "familyName": "Lebowski",
  "company"   : "Big Inc.",
  "street"    : "Rugroad",
  "postCode"  : "1337",
  "place"     : "Los Angeles"
}
