<div class="root">
  <div class="postcard">
    <div class="image_upload" class="item">
      <form>

        <h3>Image</h3>
        <div>
          {{file-uploader url="/api/v1/images" setImage=(action "setImage") uploading=(action "uploading") }}
          <progress style="display: {{uploadProgress}}" />
        </div>

      </form>
    </div>
    <div class="message" class="item">
      <div>
        <h3>Message</h3> {{textarea type="text" value=message class="form-control"}}
      </div>
    </div>

    <div class="recipient" class="item">
      <h3>Recipient</h3>
    </div>
  </div>
  <div class="image_list">
    {{image-lister}}
  </div>
</div>
