<div class="container full-width">
  <div class="row">
      <div class="col-lg-9">
        <h2 id="title">Send a postcard</h2>

        {{post-card imgURL=chosenPic}}
      </div>
      <div class="col-lg-3">
        {{image-lister bubbleImage=(action 'bubbleImage')}}
      </div>
  </div>
</div>
